{
	"presets": [
		"next/babel"
	],
	"plugins": [
		[
			"styled-components",
			{
				"ssr": true
			}
		],
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/plugin-proposal-optional-chaining"
		],
		[
			"@babel/plugin-transform-named-capturing-groups-regex"
		]
	]
}