{
	"presets": [
		"next/babel"
	],
	"plugins": [
		[
			"styled-components-px2rem",
			{
				"rootValue": 100,
				"unitPrecision": 4,
				"minPixelValue": 2,
				"multiplier": 1,
				"transformRuntime": false
			}
		],
		[
			"styled-components",
			{
				"ssr": true
			}
		],
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/plugin-proposal-optional-chaining"
		],
		[
			"@babel/plugin-transform-named-capturing-groups-regex"
		]
	]
}