@import "~antd/dist/antd.css";
	/* html,
	body {
		margin: 0;
		display: flex;
		min-height: 100%;
		width: 100vw;
		max-width: 100vw;
	}
    #__next {
		display: flex;
		width: 100%;
	}
	html {
		font-size: 16px;
	}

	body.overflowHide {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;

		font-family: "SFProText-Regular", Roboto, "Microsoft YaHei", "Open Sans", sans-serif, "Hiragino Sans GB", Arial, "Lantinghei SC", "5FAE8F6F96C59ED1", "STHeiti", "WenQuanYi Micro Hei", SimSun;
	}

	a {
		color: inherit;
		text-decoration: none;
	} */